{:deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
        reagent/reagent {:mvn/version "0.10.0"
                         :exclusions [cljsjs/react cljsjs/react-dom]}
        re-frame/re-frame {:mvn/version "1.1.2"}
        com.bhauman/figwheel-main {:mvn/version "0.2.5"}}
 :paths ["src" "target"]}
